/* Each browser has their own default margins.*/
/* We can set default margin and padding to zero of all the elements*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* Exactly the width we defined */
}

/* When we set float left on .blog-posts and .other-posts. On right side of the browser .author-box also attached with .other-posts. */
/* To separate .other-posts and .author-box we can use .clearfix */
/* position: relative and position: absolute. A parent element (.blog-posts) must be a "reative" positioned element then only child element (.date) positioned is "absolute" */

/* Some Tips */
/*Use a font size b/w 15 and 25 px
1: Big font sizes for big headlines banner eg: 60px to 90px. Small headlines banner 32px.
2: Use line spaces b/w 120 and 150 %
3: 45 to 90 characters per line
4: Sans-serif - Open Sans, Lato, Raleway, Monsterrat, PT Sans.
5: Sans-serif is a good fonts. This font uses modern websites. It is clean and simple.
6: Serif typeface - Cardo, Merriweather, PT Serif.
7: Serif typeface is also a good font. This font uses for traditional purpose and story telling.
*/

.clearfix {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: Helvetica Neue, Arial;
	font-size: 18px;
}

h1, h2 {
	color: green;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

.main-text {
	text-align: justify;
	margin-bottom: 10px;
}

.author-text {
	font-size: 22px;
	float: left;
	margin-left: 10px;
	margin-top: 30px;
}

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	/* OR */
	/*margin: 20px auto 0 auto;*/
}

.blog-posts {
	width: 75%;
	float: left;
	padding-right: 30px;
	position: relative; /* Parent position element must be relative */
}

.date {
	position: absolute; /* Child position element must be absolute */
	top: 10px;
	right: 30px;
}

.blog-posts img{
	width: auto;
	height: 150px;
}

.other-posts {
	width: 25%;
	float: left;
}

.author-box {
	padding-top: 20px;
	border-top: 1px solid #808088;
}

.other {
	margin-top: 40px;
}

.author-box img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
    float: left;
}

